@font-face {
  font-family: Next;
  font-weight: 400;
  src: url(../static/next-normal.woff);
}

@font-face {
  font-family: Next;
  font-weight: 700;
  src: url(../static/next-bold.woff);
}

* {
  box-sizing: border-box;
}

html {
  font-family: Next, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

.image-gallery-image img {
  max-height: 410px;
}
